html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: black;
}

* {
    box-sizing: border-box;
}

header {
    height: 50px;
    background: black;
    display: flex;
}

/* Menu Hamburguer */
#checkbox-menu {
    position: absolute;
    opacity: 0;
    display: none;
}

.hamburguer {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
    top: 14px;
    margin-left: 10px;
}

.hamburguer span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25s ease-in-out;
}

.hamburguer span:nth-child(1) {
    top: 0;
}

.hamburguer span:nth-child(2) {
    top: 8px;
}

.hamburguer span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked + .hamburguer span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + .hamburguer span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + .hamburguer span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

/* Sidebar */
.sidebar {
    width: 240px;
    position: absolute;
    height: 100%;
    background: #f3f3f3;
    border-right: 1px solid #dbdbdb;
}

/* Sidebar Menu */
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li > a {
    border-top: 1px solid #fff;
    padding: 12px 5px 12px 10px;
    display: inline-block;
    width: 100%;
}

.sidebar-menu > li > a > span {
    margin-right: 5px;
}

.sidebar-menu > li {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    cursor: pointer;
}

.sidebar-menu > li:hover {
    background: #f9f9f9;
}

.pull-right {
    float: right;
}

.treeview-menu > li > a {
    display: block;
    color: gray;
}

.treeview-menu > li > a:hover {
    color: black;
}

/* Content */
.content {
    margin-left: 240px;
}
